<!--
<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Provider form</h2>

     <form action="#" method="post" th:action="@{'/providers/update/' + ${obj.id}}" th:object="${form}">
         <table>
             <tr>
                 <td>Id</td>
                 <td th:text="${obj.id}">Id</td>
             </tr>
             <tr>
                 <td>Company</td>
                 <td><input th:field="*{company}" type="text"/></td>
                 <td th:errors="*{company}" th:if="${#fields.hasErrors('company')}">Company Error</td>
             </tr>
             <tr>
                 <td>FirstName</td>
                 <td><input th:field="*{firstName}" type="text"/></td>
                 <td th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">FirstName Error</td>
             </tr>
             <tr>
                 <td>LastName</td>
                 <td><input th:field="*{lastName}" type="text"/></td>
                 <td th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">LastName Error</td>
             </tr>
             <tr>
                 <td>PhoneNumber</td>
                 <td><input th:field="*{phoneNumber}" type="text"/></td>
                 <td th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}">PhoneNumber Error</td>
             </tr>

             <tr>
                 <td>Email</td>
                 <td><input th:field="*{email}" type="text"/></td>
                 <td th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</td>
             </tr>
             <tr>
                 <td>
                     <button type="submit">Submit</button>
                 </td>
             </tr>
         </table>
     </form>
</div>-->
