<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h2>Task details</h2>
    <a th:href="@{/tasks}"><h4>(Back to list)</h4></a>


    <h1>Form</h1>
    <label style="display: block" th:id="'switch' + ${obj.id}">
        <input onclick="toggle_displays();"
               type="checkbox">
        <span class="slider round"></span>
    </label>
    <h3>Edit</h3>


    <div style="display: none; background-color: greenyellow" th:id="'micForm' + ${obj.id}">

        <div th:replace="tasks/tasks_form :: form"></div>
    </div>
    <div style="display: block; background-color: orangered" th:id="'mic' + ${obj.id}">
        <table>
            <tr>
                <td>Id</td>
                <td th:text="${obj.id}">Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${obj.name}">Name</td>
            </tr>
            <tr>
                <td>Description</td>
                <td th:text="${obj.description}">Description</td>
            </tr>
            <tr>
                <td> Price</td>
                <td th:text="${obj.estimatedTime * pricePerHour}">Price</td>
            </tr>
            <tr>
                <td>Estimated Time ( heure )</td>
                <td th:text="${obj.estimatedTime}">Estimated Time</td>
            </tr>
            <tr>
                <td>Template</td>
                <td th:text="${obj.template}">Template</td>
            </tr>
        </table>
        <a th:href="@{'/tasks/delete/' + ${obj.id}}">
            <button class="btn btn-danger" type="button">Delete</button>
        </a><br>

    </div>
</div>

<script>

    window.onload = checkToggle;
    let start = 0;

    function checkToggle() {

        let showFormVar = parseInt("[[${showForm}]]");
        let showForm = start + showFormVar;
        if (showForm === 0) {
            toggle_displays();

        }
        start++;
    }


    function toggle_displays() {
        var divs = document.getElementsByTagName("div");

        for (var i = divs.length; i;) {
            var div = divs[--i];

            if (div.id.indexOf("fo") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }
            if (div.id.indexOf("mic") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }

        }


    }
</script>

</body>
</html>




