<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h3>New Task Template</h3>

    <form action="#" method="post" th:action="@{'/tasks/new/'}" th:object="${taskForm}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" placeholder="Enter name" required="required" type="text"/>
            <div th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input class="form-control" id="description" name="description" placeholder="Enter description"
                   required="required" type="text"/>
            <span th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Description Error</span>
        </div>
        <div class="form-group">
            <label for="estimatedTime">Estimated time:</label>
            <input class="form-control" id="estimatedTime" min="0.00" name="estimatedTime" required="required" step=".5"
                   type="number"
                   value="0.00"/>
            <span th:errors="*{estimatedTime}" th:if="${#fields.hasErrors('estimatedTime')}">Estimated Time Error</span>
        </div>
        <div class="form-group" th:errors="*{template}" th:if="${#fields.hasErrors('template')}">
            <input id="template" name="template" type="hidden" value="true"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>


</div>
</body>
</html>




