<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h3>New task</h3>


    <form action="#" method="post" th:action="@{'/tasks/new/'}" th:object="${taskForm}">
        <table>
            <tr>
                <td>Name:</td>
                <td><input required="required" th:field="*{name}" type="text"/></td>
                <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input required="required" th:field="*{description}" type="text"/></td>
                <td th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Description Error</td>
            </tr>
            <tr>
                <td>Estimated Time: (hours)</td>
                <td><input min="0.00" required="required" step=".5" th:field="*{estimatedTime}" type="number"
                           value="0.00"/></td>
                <td th:errors="*{estimatedTime}" th:if="${#fields.hasErrors('estimatedTime')}">Estimated Time Error</td>
            </tr>
           <!-- <tr>
                <td>Price:</td>
                <td><input min="0.00" required="required" step=".1" th:field="*{price}" type="number" value="0.00"/>
                </td>
                <td th:errors="*{price}" th:if="${#fields.hasErrors('price')}">Price Error</td>
            </tr>-->
            <tr>
                <td>Template:</td>
                <td><input required="required" th:field="*{template}" type="checkbox"/></td>
            </tr>
            <!-- <tr>
                 <td>Pieces:</td>
                 <td><input th:field="*{pieces}" type="text"/></td>
                 <td th:errors="*{pieces}" th:if="${#fields.hasErrors('pieces')}">Pieces Error</td>
             </tr>-->

            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>


</div>
</body>
</html>




