<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Task form</h2>
    <div th:replace="fragments/errors :: errors"></div>
    <form action="#" method="post" th:action="@{'/tasks/update/' + ${obj.id}}" th:object="${form}">
        <div class="form-group">
            <label for="id">Id</label>
            <input class="form-control" id="id" name="id" readonly required="required"
                   th:value="${obj.id}"
                   type="text"/>
            <div style="color: red" th:errors="*{id}" th:if="${#fields.hasErrors('id')}">Id Error</div>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" required="required"
                   th:value="${obj.name}"
                   type="text"/>
            <div style="color: red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <input class="form-control" id="description" name="description" required="required"
                   th:value="${obj.description}" type="text"/>
            <div style="color: red" th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Description
                Error
            </div>
        </div>
        <div class="form-group">
            <label for="name">Estimated Time( heure ):</label>
            <input min="0.00" required="required" step=".5" th:field="*{estimatedTime}" type="number"
                   value="0.00"/>
            <div style="color: red" th:errors="*{estimatedTime}" th:if="${#fields.hasErrors('estimatedTime')}">Estimated
                Time Error
            </div>
        </div>


        <!--<div class="form-group">
            <label for="name">Template</label>
            <input th:checked="${obj.template}" th:field="*{template}" type="checkbox"/>
            <div style="color: red" th:errors="*{template}" th:if="${#fields.hasErrors('template')}">Template Error</div>
        </div>-->

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>