<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">

    <div th:replace="fragments/errors :: errors"></div>
    <form action="#" method="post" th:action="@{'/cars/update/' + ${obj.id}}" th:object="${form}">

        <input name="registration" required="required" th:id="registration" th:value="${form.registration}"
               type="hidden"/>
        <input name="carModelId" required="required" th:id="carModelId" th:value="${obj.model.id}" type="hidden"/>
        <input name="carModelId" required="required" th:id="carModelId" th:value="${obj.model.id}" type="hidden"/>


        <div class="form-group">
            <label for="mileage">Mileage</label>
            <input class="form-control" id="mileage" name="mileage" placeholder="Enter Mileage"
                   required="required" step="1" th:value="${obj.mileage}" type="number"/>
            <div style="color: red" th:errors="*{mileage}" th:if="${#fields.hasErrors('mileage')}">Mileage Error</div>
        </div>

        <div class="form-group">
            <label for="color">Color</label>
            <input class="form-control" id="color" name="color" placeholder="Enter Color"
                   required="required" th:value="${obj.color}" type="text"/>
            <div style="color: red" th:errors="*{color}" th:if="${#fields.hasErrors('color')}">Color Error</div>
        </div>


        <div class="form-group">
            <select name="clientId" th:id="clientId">
                <option th:each="client : ${clients}"
                        th:selected="${client.id == obj.client.id}"
                        th:text="${client.firstName+' '+client.lastName+' '+client.phoneNumber}"
                        th:value="${client.id}"></option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>