<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h2>Car details</h2>
    <a th:href="@{/cars}"><h4>(Back to list)</h4></a>

    <table>
        <tr>
            <td>Id:</td>
            <td th:text="${car.id}">Id</td>
        </tr>
        <tr>
            <td>Registration:</td>
            <td th:text="${car.registration}">Registration</td>
        </tr>
        <tr>
            <td>Brand:</td>
            <td th:text="${car.model.manufacturer.name}">Brand</td>
        </tr>
        <tr>
            <td>Model:</td>
            <td th:text="${car.model.name}">Model</td>
        </tr>
    </table>

    <div style="display: block; " th:id="'mic' + ${car.id}">
        <table>
            <tr>
                <td>Client:</td>
                <td th:onclick="'javascript:rowClicked(\'' +@{'/clients/' + ${car.client.id}}+ '\');'"
                    th:text="${car.client.firstName+' '+car.client.lastName}">Client

                </td>
            </tr>

        </table>
    </div>
    <div style="display: none;" th:id="'micForm' + ${car.id}">
        <div th:replace="cars/cars_form :: form"></div>

    </div>

    <a th:href="@{'/cars/delete/' + ${car.id}}">
        <button class="btn btn-danger" type="button">Delete</button>
    </a>
    <button class="btn-outline-warning" onclick="toggle_displays();" type="button">Update Client</button>
    <br><br>
    <a th:href="@{'/bills/new?id='+${car.id}}">
        <button class="btn btn-info" type="button">New Bill</button>
    </a>


    <div th:if="${not #lists.isEmpty(bills)}">


        <table class="table table-striped">
            <thead>
            <tr>
                <th id="billId">Id</th>
                <th id="Date">Date</th>
                <th id="Total">Total</th>
                <th id="Status">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:fragment="billDetails">
            <tr class="data-link" th:each="bill : ${bills}"
                th:onclick="'javascript:rowClicked(\'' +@{'/bills/' + ${bill.id}}+ '\');'">
                <td th:text="${bill.id}">id</td>
                <td th:text="${bill.dateReparation}"></td>
                <td th:text="${bill.total}">total</td>
                <td th:text="${bill.status}">status</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div th:if="${ #lists.isEmpty(bills)}">No previous history
    </div>
</div>
<script>

    window.onload = checkToggle;
    let start = 0;

    function checkToggle() {

        let showFormVar = parseInt("[[${showForm}]]");
        let showForm = start + showFormVar;
        if (showForm === 0) {
            toggle_displays();

        }
        start++;
    }


    function toggle_displays() {
        var divs = document.getElementsByTagName("div");

        for (var i = divs.length; i;) {
            var div = divs[--i];

            if (div.id.indexOf("fo") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }
            if (div.id.indexOf("mic") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }

        }


    }
</script>

</body>
</html>




