<div th:fragment="searchCar_form" xmlns:th="http:/www.w3.org/1999/xhtml">
    <div th:replace="fragments/errors :: errors"></div>
    <div class="row">
        <div class="col-12" style="height: 3em"></div>
    </div>
    <div class="row">

        <div class="col-lg-6 offset-lg-3 text-center">
            <form action="#" method="post" th:action="@{/cars/searchCar}" th:object="${searchCarForm}">
                <div class="form-group row justify-content-center">
                    <input class="form-control" id="registration" name="registration" placeholder="Enter Registration"
                           required="required" th:value="${registration}" type="text"/>
                    <div style="color: #bb211c" th:errors="*{registration}"
                         th:if="${#fields.hasErrors('registration')}">Registration Error
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>