<div th:fragment="searchCar_form" xmlns:th="http:/www.w3.org/1999/xhtml">

    <div class="row">

        <div class="col-12">
            <form action="#" method="post" th:action="@{/cars/searchCar}" th:object="${searchCarForm}">
                <div class="form-group">
                    <label for="registration">Registration:</label>
                    <input class="form-control" id="registration" name="registration" placeholder="Enter Registration"
                           required="required" th:value="${registration}" type="text"/>
                    <div th:errors="*{registration}" th:if="${#fields.hasErrors('registration')}">Registration Error
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>