<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h3>New new</h3>


    <form action="#" method="post" th:action="@{'/employees/new/'}" th:object="${employeeForm}">
        <table>
            <tr>
                <td>Login:</td>
                <td><input required="required" th:field="*{login}" type="text"/></td>
                <td th:errors="*{login}" th:if="${#fields.hasErrors('login')}">Login Error</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input required="required" th:field="*{password}" type="text"/></td>
                <td th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password Error</td>
            </tr>
            <tr>
                <td>Select Role:</td>
                <td>
                    <th:block th:each="role : ${roleList}">
                        <input name="roles" th:value="${role}"
                               type="radio"/>
                        <label th:text="${role}"></label>
                    </th:block>
                </td>
                <td th:errors="*{roles}" th:if="${#fields.hasErrors('roles')}">Roles Error</td>
            </tr>
            <tr>
                <td>FirstName:</td>
                <td><input required="required" th:field="*{firstName}" type="text"/></td>
                <td th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">FirstName Error</td>
            </tr>
            <tr>
                <td>LastName:</td>
                <td><input required="required" th:field="*{lastName}" type="text"/></td>
                <td th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">LastName Error</td>
            </tr>
            <tr>
                <td>PhoneNumber:</td>
                <td><input required="required" th:field="*{phoneNumber}" type="text"/></td>
                <td th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}">PhoneNumber Error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                    <button id="resetButton" name="reset" th:value="Reset" type="reset"/>
                </td>
            </tr>
        </table>
    </form>


</div>
</body>
</html>




