<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h2>Employee details </h2>
    <a th:href="@{/employees}"><h4>(Back to list)</h4></a>

    <label style="display: block" th:id="'switch' + ${employee.id}">
        <input onclick="toggle_displays();"
               type="checkbox">
        <span class="slider round"></span>
    </label>
    <h3>Edit</h3>


    <div style="display: none; background-color: greenyellow" th:id="'micForm' + ${employee.id}">

        <div th:replace="employees/employees_form :: form"></div>
    </div>
    <div style="display: block; background-color: orangered" th:id="'mic' + ${employee.id}">
        <table>
            <tr>
                <td>Id:</td>
                <td th:text="${employee.id}">Login</td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td th:text="${#dates.format(employee.startDate, 'dd-MMM-yyyy')}">Start Date</td>
            </tr>
            <tr>
                <td>Last Connection:</td>
                <td th:text="${#dates.format(employee.lastConnection, 'dd-MMM-yyyy')}">Last Connection</td>
            </tr>
            <tr>
                <td>Login:</td>
                <td th:text="${employee.login}">Login</td>
            </tr>
            <tr>
                <td>FirstName:</td>
                <td th:text="${employee.firstName}">FirstName</td>
            </tr>
            <tr>
                <td>LastName:</td>
                <td th:text="${employee.lastName}">LastName</td>
            </tr>
            <tr>
                <td>Roles:</td>
                <td th:text="${employee.roles}">Roles</td>
            </tr>
            <tr>
                <td>PhoneNumber:</td>
                <td th:text="${employee.phoneNumber}">PhoneNumber</td>
            </tr>
        </table>


    </div>

</div>

<script>

    window.onload = checkToggle;
    let start = 0;

    function checkToggle() {

        let showFormVar = parseInt("[[${showForm}]]");
        let showForm = start + showFormVar;
        if (showForm === 0) {
            toggle_displays();

        }
        start++;
    }


    function toggle_displays() {
        var divs = document.getElementsByTagName("div");

        for (var i = divs.length; i;) {
            var div = divs[--i];

            if (div.id.indexOf("fo") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }
            if (div.id.indexOf("mic") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }

        }


    }
</script>

</body>
</html>




