<!--
<div th:fragment="employees_edit" xmlns:th="http:/www.w3.org/1999/xhtml">


<form action="#" method="post" th:action="@{/employees}"
          th:object="${employeeForm}">

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th> Login</th>
                <th> FirstName</th>
                <th> LastName</th>
                <th>PhoneNumber1</th>
            </tr>
            </thead>
            <tbody>
            <td th:text="${employee.id}">id</td>

            <td><input id="firstName" name="firstName" th:value="${employee.firstName}" type="text"/></td>
            <td><input id="lastName" name="lastName" th:value="${employee.lastName}" type="text"/></td>
            <td><input id="phoneNumber1" name="phoneNumber1" th:value="${employee.phoneNumber1}" type="text"/></td>
            <td><input id="submitButton" th:value="Save" type="submit"></td>
            </tr>
            </tbody>
        </table>
    </form>

</div>

-->
