<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body onload="startTime()">
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h3>New Client</h3>


    <div th:text="${error}">error</div>
    <div th:replace="fragments/errors :: errors"></div>
    <form action="#" method="post" th:action="@{'/clients/new/'}" th:object="${clientForm}">
        <div class="form-group">
            <label for="firstName">FirstName</label>
            <input class="form-control" id="firstName" name="firstName" required="required"
                   th:value="${firstName}"
                   type="text"/>
            <div style="color: red" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">FirstName Error
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">LastName</label>
            <input class="form-control" id="lastName" name="lastName" required="required"
                   th:value="${lastName}"
                   type="text"/>
            <div style="color: red" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">LastName Error
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber">PhoneNumber</label>
            <input class="form-control" id="phoneNumber" name="phoneNumber" required="required"
                   th:value="${phoneNumber}"
                   type="text"/>
            <div style="color: red" th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}">PhoneNumber
                Error
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>


</div>
</body>
</html>




