<div th:fragment="book_details" xmlns:th="http://www.w3.org/1999/xhtml">


    <table class="table table-striped" style="display: table">
        <tr>
            <th>ISBN</th>
            <td data-th-text="${loan.event.isbn}"/>
        </tr>
        <tr>
            <th>Title</th>
            <td data-th-text="${loan.event.title}"/>
        <tr>
            <th>Author</th>
            <td data-th-text="${loan.event.author}"/>
        </tr>
        <tr>
            <th>Edition</th>
            <td data-th-text="${loan.event.edition}"/>
        </tr>
        <tr>
            <th>Number Pages</th>
            <td data-th-text="${loan.event.nbPages}"/>
        </tr>
        <tr>
            <th>Keywords</th>
            <td data-th-text="${loan.event.keywords}"/>
        </tr>
    </table>
</div>