<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h2>Piece details</h2>
    <a th:href="@{/pieces}"><h4>(Back to list)</h4></a>


    <h1>Form</h1>
    <label style="display: block" th:id="'switch' + ${piece.id}">
        <input onclick="toggle_displays();"
               type="checkbox">
        <span class="slider round"></span>
    </label>
    <h3>Edit</h3>


    <div style="display: none; background-color: greenyellow" th:id="'micForm' + ${piece.id}">

        <div th:replace="pieces/pieces_form :: form"></div>
    </div>
    <div style="display: block; background-color: orangered" th:id="'mic' + ${piece.id}">
        <table>
            <tr>
                <td>Id:</td>
                <td th:text="${piece.id}">Id</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td th:text="${piece.name}">Name</td>
            </tr>
            <tr>
                <td>Buying Price:</td>
                <td th:text="${piece.buyingPrice}">Buying Price</td>
            </tr>
            <tr>
                <td>Sell Price:</td>
                <td th:text="${piece.sellPrice}">Sell Price</td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td th:text="${piece.quantity}">Sell Price</td>
            </tr>
            <!-- <tr>
                 <td>CarModel:</td>
                 <td th:text="${piece.carModel.name}">CarModelId</td>
             </tr>-->
            <tr>
                <td>PieceType:</td>
                <td th:text="${piece.pieceType.name}">PieceTypeId</td>
            </tr>
        </table>
        <a th:href="@{'/pieces/delete/' + ${piece.id}}">
            <button class="btn btn-danger" type="button">Delete</button>
        </a>

    </div>
</div>

<script>

    window.onload = checkToggle;
    let start = 0;

    function checkToggle() {

        let showFormVar = parseInt("[[${showForm}]]");
        let showForm = start + showFormVar;
        if (showForm === 0) {
            toggle_displays();

        }
        start++;
    }


    function toggle_displays() {
        var divs = document.getElementsByTagName("div");

        for (var i = divs.length; i;) {
            var div = divs[--i];

            if (div.id.indexOf("fo") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }
            if (div.id.indexOf("mic") > -1) {

                if (div.style.display === 'block') {
                    div.style.display = 'none';
                } else {
                    div.style.display = 'block';
                }
            }

        }


    }
</script>

</body>
</html>




