<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Piece form</h2>

     <form action="#" method="post" th:action="@{'/pieces/update/' + ${piece.id}}" th:object="${pieceForm}">

         <div class="form-group">
             <label for="id">Id:</label>
             <input class="form-control" id="id" name="id" required="required"
                    th:value="${piece.id}"
                    type="text"/>
             <div th:errors="*{id}" th:if="${#fields.hasErrors('id')}">Id Error</div>
         </div>
         <div class="form-group">
             <label for="pieceTypeId">Piece Type:</label>
             <select id="pieceTypeId" th:id="pieceTypeId" th:name="pieceTypeId">
                 <option th:each="pieceType : ${pieceTypes}"
                         th:utext="${pieceType.name}"
                         th:value="${pieceType.id}"/>
             </select>
         </div>
         <div class="form-group">
             <label for="name">Name:</label>
             <input class="form-control" id="name" name="name" required="required"
                    th:value="${piece.name}"
                    type="text"/>
             <div th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
         </div>
         <div class="form-group">
             <label for="brand">Brand:</label>
             <input class="form-control" id="brand" name="brand" required="required"
                    th:value="${piece.brand}"
                    type="text"/>
             <div th:errors="*{brand}" th:if="${#fields.hasErrors('brand')}">Brand Error</div>
         </div>
         <div class="form-group">
             <label for="buyingPrice">Buying Price:</label>
             <input class="form-control" id="buyingPrice" name="buyingPrice" required="required"
                    th:text="${#numbers.formatDecimal(num,2,3,'COMMA')}" th:value="${piece.buyingPrice}"/>
             <div th:errors="*{buyingPrice}" th:if="${#fields.hasErrors('buyingPrice')}">Buying Price Error</div>
         </div>
         <div class="form-group">
             <label for="sellPrice">Sell Price:</label>
             <input class="form-control" id="sellPrice" name="sellPrice" required="required"
                    th:text="${#numbers.formatDecimal(num,2,3,'COMMA')}" th:value="${piece.sellPrice}"/>
             <div th:errors="*{sellPrice}" th:if="${#fields.hasErrors('sellPrice')}">Sell Price Error</div>
         </div>
         <div class="form-group">
             <label for="quantity">Quantity:</label>
             <input id="quantity" min="0.00" required="required" step="1" th:field="*{quantity}" type="number"
                    value="0.00"/>
             <div th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}">Quantity Error</div>
         </div>
         <button class="btn btn-primary" type="submit">Submit</button>


     </form>
</div>