<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Piece form</h2>

    <option th:each="pieceType : ${pieceTypes}"
            th:utext="${pieceType.name}"
            th:value="${pieceType.id}"/>

     <form action="#" method="post" th:action="@{'/pieces/update/' + ${piece.id}}" th:object="${pieceForm}">
         <table>
             <tr>
                 <td>Id:</td>
                 <td th:text="${piece.id}">Login</td>
             </tr>
             <tr>
                 <td>Name:</td>
                 <td><input th:field="*{name}" type="text"/></td>
                 <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
             </tr>
             <tr>
                 <td>Brand:</td>
                 <td><input th:field="*{brand}" type="text"/></td>
                 <td th:errors="*{brand}" th:if="${#fields.hasErrors('brand')}">Brand Error</td>
             </tr>
             <tr>
                 <td>Buying Price:</td>
                 <td><input th:field="*{buyingPrice}" th:text="${#numbers.formatDecimal(num,2,3,'COMMA')}"/></td>
                 <td th:errors="*{buyingPrice}" th:if="${#fields.hasErrors('buyingPrice')}">Buying Price</td>
             </tr>
             <tr>
                 <td>Sell Price:</td>
                 <td><input th:field="*{sellPrice}" th:text="${#numbers.formatDecimal(num,2,3,'COMMA')}"/></td>
                 <td th:errors="*{sellPrice}" th:if="${#fields.hasErrors('sellPrice')}">Sell Price</td>
             </tr>
             <tr>
                 <td>Select PieceType:</td>
                 <td>
                     <select th:field="*{pieceType.id}">
                         <option th:each="pieceType : ${pieceTypes}"
                                 th:utext="${pieceType.name}"
                                 th:value="${pieceType.id}"/>
                     </select>
                 </td>
             </tr>
             <tr>
                 <td>Select CarModel:</td>
                 <td>
                     <select th:field="*{carModel.id}">
                         <option th:each="carModel : ${carModels}"
                                 th:utext="${carModel.name}"
                                 th:value="${carModel.id}"/>
                     </select>

                 </td>
             </tr>

             <tr>
                 <td>
                     <button type="submit">Submit</button>
                 </td>
             </tr>
         </table>
     </form>
</div>