<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Piece form</h2>
    <div th:replace="fragments/errors :: errors"></div>
    <form action="#" method="post" th:action="@{'/pieces/update/' + ${obj.id}}" th:object="${form}">

        <div class="form-group">
            <label for="id">Id</label>
            <input class="form-control" id="id" name="id" readonly required="required"
                   th:value="${obj.id}"
                   type="text"/>
            <div th:errors="*{id}" th:if="${#fields.hasErrors('id')}">Id Error</div>
        </div>
        <div class="form-group">
            <label for="pieceTypeId">Piece Type</label>
            <select id="pieceTypeId" th:id="pieceTypeId" th:name="pieceTypeId">
                <option th:each="pieceType : ${pieceTypes}"
                        th:selected="${pieceType.name==obj.pieceType.name}"
                        th:utext="${pieceType.name}"
                        th:value="${pieceType.id}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" required="required"
                   th:value="${obj.name}"
                   type="text"/>
            <div th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</div>
        </div>
        <div class="form-group">
            <label for="brand">Brand</label>
            <input class="form-control" id="brand" name="brand" required="required"
                   th:value="${obj.brand}"
                   type="text"/>
            <div th:errors="*{brand}" th:if="${#fields.hasErrors('brand')}">Brand Error</div>
        </div>
        <div class="form-group">
            <label for="buyingPrice">Buying Price</label>
            <input class="form-control" id="buyingPrice" name="buyingPrice" required="required" step="0.01"
                   th:value="${obj.buyingPrice}"
                   type="number"/>
            <div th:errors="*{buyingPrice}" th:if="${#fields.hasErrors('buyingPrice')}">Buying Price Error</div>
        </div>
        <div class="form-group">
            <label for="sellPrice">Sell Price</label>
            <input class="form-control" id="sellPrice" name="sellPrice" required="required" step="0.01"
                   th:text="${#numbers.formatDecimal(num,2,3,'COMMA')}"
                   th:value="${obj.sellPrice}" type="number"/>
            <div th:errors="*{sellPrice}" th:if="${#fields.hasErrors('sellPrice')}">Sell Price Error</div>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input id="quantity" name="quantity" required="required" step="1" th:value="${obj.quantity}"
                   type="number"
                   value="0.00"/>
            <div th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}">Quantity Error</div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>


    </form>
</div>