<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">

    <table>
        <thead>
        <tr>
            <th> Title</th>
            <th> Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.empty}">
            <td colspan="2"> No Books Available</td>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.author}"> Author </span></td>
        </tr>
        </tbody>


    </table>
</div>
</body>
</html>