<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">

    <h2>Ils sont toujours en form</h2>

    <form action="#" method="post" th:action="@{/books/save}"
          th:object="${form}">
        <fieldset>
            <input id="submitButton" th:value="Save" type="submit">
            <input id="resetButton" name="reset" th:value="Reset" type="reset"/>
            <table>
                <thead>
                <tr>
                    <th> Title</th>
                    <th> Author</th>
                </tr>
                </thead>
                <tbody>
                <!--  <tr th:each="book, stat : *{books}">
                      <td><input th:field="*{books[__${stat.index}__].title}" /></td>
                      <td><input th:field="*{books[__${stat.index}__].author}" /></td>
                  </tr>-->
                <tr th:each="book, stat : ${form.books}">
                    <td>
                        <input hidden th:name="|books[${stat.index}].id|" th:value="${book.getId()}"/>
                    </td>
                    <td>
                        <input th:name="|books[${stat.index}].title|" th:value="${book.getTitle()}"/>
                    </td>
                    <td>
                        <input th:name="|books[${stat.index}].author|" th:value="${book.getAuthor()}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>
</body>
</html>