<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body onload="startTime()">
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <br><br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="Login">Login</th>
            <th th:text="FirstName">FirstName</th>
            <th th:text="LastName">LastName</th>
            <th th:text="PhoneNumber">PhoneNumber</th>
            <th th:text="StartDate">StartDate</th>
            <th th:text="Roles">Roles</th>
        </tr>
        </thead>
        <tbody>

        <tr th:replace="fragments/employees :: employeeDetails"></tr>


        </tbody>
    </table>

</div>

</body>
</html>




