<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>myProfile</title>

<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <div th:replace="cars/searchCar_form :: searchCar_form"></div>
    <!--<br><br>-->
    <div class="row">

        <div class="col-12">
             <span th:if="${car != null}">
             <div th:replace="cars/searchCar_result :: searchCar_result"></div>
             </span>
        </div>

    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <td th:if="${message != null}">
            <td th:text="${message}">message</td>
            </td>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

</body>
</html>
