<tbody th:fragment="employeeDetails" xmlns:th="http:/www.w3.org/1999/xhtml">

<tr style="display:none" th:id="'mic' + ${employee.id}">
    <td th:text="${employee.id}">Id</td>
    <td th:text="${employee.login}">Login</td>
    <td th:text="${employee.firstName}">firstName</td>
    <td th:text="${employee.lastName}">lastName</td>
    <td th:text="${employee.phoneNumber1}">phoneNumber1</td>

    <td>

        <label th:id="'switchEdit' + ${employee.id}">
            <input onclick="toggle_displays('micForm2.0', 'mic2.0', 'switchEdit2.0','switchForm2.0' );" type="checkbox">
            <span class="slider round"></span>
        </label>
    </td>


</tr>
<tr th:id="'micForm' + ${employee.id}">
    <td>Ad</td>
    <td>Id</td>
    <td>Id</td>
    <td>Id</td>
    <td>Id</td>

    <td>

        <label th:id="'switchForm' + ${employee.id}">
            <input onclick="toggle_displays('micForm2.0', 'mic2.0', 'switchEdit2.0','switchForm2.0' );" type="checkbox">
            <span class="slider round"></span>
        </label>
    </td>


</tr>

</tbody>

<!--

    <form action="#" method="post" th:action="@{/employees}" th:object="${employeeForm}"
          th:id="'micForm' + ${employee.id}" style="display:none">

        <td><input th:field="*{login}" type="text"/></td>
        <td th:errors="*{login}" th:if="${#fields.hasErrors('login')}">Login Error</td>

        <td>FirstName:</td>
        <td><input th:field="*{firstName}" type="text"/></td>
        <td th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">FirstName Error</td>

        <td>LastName:</td>
        <td><input th:field="*{lastName}" type="text"/></td>
        <td th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">LastName Error</td>

        <td>PhoneNumber1:</td>
        <td><input th:field="*{phoneNumber1}" type="text"/></td>
        <td th:errors="*{phoneNumber1}" th:if="${#fields.hasErrors('phoneNumber1')}">PhoneNumber1 Error</td>

        <td>
            <button type="submit">Submit</button>
        </td>

    </form>

    <td th:id="'mic' + ${employee.id}" style="display:block">MIC 2!</td>

    <td>

        <label th:id="'switch' + ${employee.id}">
            <input type="checkbox" onclick="toggle_displays('micForm2.0', 'mic2.0');">
            <span class="slider round"></span>
        </label>
    </td>-->

