<div th:fragment="menu" xmlns:th="http:/www.w3.org/1999/xhtml">


    <div class="row d-flex row" style="justify-content: space-evenly">
        <div><a href="/autodoctor/employees">EMPLOYEES</a></div>
        <div><a href="/autodoctor/providers">PROVIDERS</a></div>
        <div><a href="/autodoctor/clients">CLIENTS</a></div>
        <div><a href="/autodoctor/operations">OPERATIONS</a></div>
        <div><a href="/autodoctor/pieceTypes">PIECETYPES</a></div>
        <div><a href="/autodoctor/pieces">STOCKS</a></div>
        <div><a href="/autodoctor/tasks">TASKS</a></div>
        <div><a href="/autodoctor/bills">BILLS</a></div>
        <div><a href="/autodoctor/cars">CARS</a></div>
    </div>

    <div class="row " style="height: 240px;">
        <div class="col-4" style="background-color: #bb322a; ">
            one
        </div>
        <div class="col-4" style="background-color: #bbb5b9; ">
            two
        </div>
        <div class="col-4" style="background-color: #bb322a; ">
            three
        </div>
    </div>
    <div class="row " style="height: 240px;">
        <div class="col-4">
            one
        </div>
        <div class="col-4" style="background-color: #00bb00; ">
            two
        </div>
        <div class="col-4">
            three
        </div>
    </div>
    <div class="row " style="height: 240px;">
        <div class="col-4" style="background-color: #bb322a; ">
            one
        </div>
        <div class="col-4" style="background-color: #bbb5b9; ">
            two
        </div>
        <div class="col-4" style="background-color: #bb322a; ">
            three
        </div>
    </div>


</div>