<div th:fragment="menu" xmlns:th="http:/www.w3.org/1999/xhtml">


    <div class="row d-flex row" style="justify-content: space-evenly">
        <div><a href="/autodoctor/employees">EMPLOYEES</a></div>
        <div><a href="/autodoctor/providers">PROVIDERS</a></div>
        <div><a href="/autodoctor/clients">CLIENTS</a></div>
        <div><a href="/autodoctor/operations">OPERATIONS</a></div>
        <div><a href="/autodoctor/pieceTypes">PIECETYPES</a></div>
        <div><a href="/autodoctor/pieces">PIECES</a></div>
        <div><a href="/autodoctor/stocks">STOCKS</a></div>
        <div><a href="/autodoctor/orders">ORDERS</a></div>
        <div><a href="/autodoctor/tasks">TASKS</a></div>
        <div><a href="/autodoctor/bills">BILLS</a></div>
        <div><a href="/autodoctor/cars">CARS</a></div>
    </div>


</div>