<div class="align-middle" th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">


    <div class="row d-flex flex-column">
        <div class="col-4" style="color:red;align-content: center" ><a style="text-decoration: none; color: black" th:href="@{/employees}">EMPLOYEES</a></div>
        <div class="col-4" style="color:yellow;align-content: center" ><a style="text-decoration: none; color: black" th:href="@{/operations}">OPERATIONS</a></div>
        <div class="col-4" style="color:green;align-content: center" ><a style="text-decoration: none; color: black" th:href="@{/stocks}">STOCKS</a></div>
    </div>



</div>