<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>PieceType form</h2>

     <form action="#" method="post" th:action="@{'/pieceTypes/update/' + ${pieceType.id}}" th:object="${pieceTypeForm}">
         <table>
             <tr>
                 <td>Id:</td>
                 <td th:text="${pieceType.id}">Login</td>
             </tr>
             <tr>
                 <td>Name:</td>
                 <td><input th:field="*{name}" type="text"/></td>
                 <td th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Error</td>
             </tr>
             <tr>
                 <td>
                     <button type="submit">Submit</button>
                 </td>
             </tr>
         </table>
     </form>
</div>