<div th:fragment="searchCar_form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <form action="#" method="post" th:action="@{/cars/searchCar}" th:object="${registrationForm}">
        <table>
            <tr>
                <td>Registration:</td>
                <td><input autofocus="autofocus" th:field="*{registration}" type="text"/></td>
                <td th:errors="*{registration}" th:if="${#fields.hasErrors('registration')}">Registration Error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>

</div>