<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Bill form</h2>


    <span style="color: #bb322a" th:text="${error}">error</span>
    <button class="btn btn btn-info" onclick="pieceFunction(getPieces())">Add Piece</button>
    <button class="btn btn btn-info" onclick="taskFunction(getTasks())">Add Task</button>

    <br>
    <form action="#" method="post" th:action="@{'/bills/update/' + ${obj.id}}" th:object="${form}">

        <div class="form-group">
            <label for="id">Id</label>
            <input class="form-control" id="id" name="id" readonly required="required"
                   th:value="${obj.id}"
                   type="text"/>
            <div th:errors="*{id}" th:if="${#fields.hasErrors('id')}">Id Error</div>
        </div>
        <div class="form-group">
            <label for="carRegistration">Registration</label>
            <select id="carRegistration" name="carRegistration">
                <option th:each="car : ${cars}"
                        th:utext="${car.registration}"
                        th:value="${car.registration}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="clientId">Client</label>
            <select id="clientId" name="clientId">
                <option th:each="client : ${clients}"
                        th:utext="${client.firstName+' '+client.lastName+' /'+client.phoneNumber}"
                        th:selected="${client.firstName+' '+client.lastName+' /'+client.phoneNumber}"
                        th:value="${client.id}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="employeeLogin">Employee</label>
            <select id="employeeLogin" name="employeeLogin">
                <option th:each="employee : ${employees}"
                        th:selected="${employee.login == obj.employee.login}" th:utext="${employee.login}"
                        th:value="${employee.login}"/>
            </select>
        </div>
        <!--  <div class="form-group">
              <div class="input-group date" data-target-input="nearest" id="datetimepicker1">
                  <input class="form-control datetimepicker-input" data-target="#datetimepicker1" name="dateReparation"
                         th:value="${form.dateReparation}"
                         type="text"/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"
                       id="dateReparation" name="dateReparation" th:value="${form.dateReparation}">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>-->
        <div class="form-group">
            <label for="dateReparation">DateReparation(dd-MM-yyyy HH:mm)</label>
            <input class="form-control" id="dateReparation" name="dateReparation" placeholder="Enter DateReparation"
                   required="required" th:value="${form.dateReparation}" type="text"/>
            <div th:errors="*{dateReparation}" th:if="${#fields.hasErrors('dateReparation')}">DateReparation Error</div>
        </div>


        <div class="form-group">
            <label for="discount">Discount( % )</label>
            <input id="discount" min="0.00" name="discount" placeholder="Enter Discount" required="required" step="1"
                   type="number"
                   value="0.00"/>
            <div th:errors="*{discount}" th:if="${#fields.hasErrors('discount')}">Discount Error</div>
        </div>

        <div class="form-group">
            <label for="paymentType">paymentType</label>
            <select id="paymentType" name="paymentType">
                <option value="">chose paymentType</option>
                <option th:each="paymentType : ${paymentTypes}"
                        th:selected="${paymentType == form.paymentType}" th:utext="${paymentType}"
                        th:value="${paymentType}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="paymentType">status</label>
            <select id="status" name="status">
                <option th:each="status : ${statuses}"
                        th:selected="${status == form.status}" th:utext="${status}"
                        th:value="${status}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <input class="form-control" id="comments" name="comments"
                   th:value="${form.comments}"
                   type="text"/>
            <div th:errors="*{comments}" th:if="${#fields.hasErrors('comments')}">Comments Error</div>
        </div>

        <input id="vat" name="vat" required="required" th:value="${vat}" type="hidden"/>

        <div class="form-group" id="tasks">
            <label>Tasks</label>
            <span id="myTasks"></span> <br><br>
        </div>
        <div class="form-group">
            <label>Pieces</label>
            <span id="myPieces"></span>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>


