<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <h3>New bill</h3>

    <button class="btn btn btn-info" onclick="pieceFunction()">Add Piece</button>
    <button class="btn btn btn-info" onclick="taskFunction()">Add Task</button>

    <div th:text="${error}">error</div>
    <div th:text="${feedback}">feedback</div>
    <h3>Employee:</h3>
    <div th:text="${form.employeeLogin}">employee</div>
    <h3>Registration:</h3>
    <div th:text="${form.carRegistration}">registration</div>
    <br><br>
    <form action="#" method="post" th:action="@{'/bills/new/'}" th:object="${form}">
        <span id="myForm"></span>

        <input class="form-control" id="employeeLogin" name="employeeLogin"
               required="required" th:value="${form.employeeLogin}" type="hidden"/>
        <input class="form-control" id="carRegistration" name="carRegistration"
               required="required" th:value="${form.carRegistration}" type="hidden"/>
        <div class="form-group">
            <div class="input-group date" data-target-input="nearest" id="datetimepicker1">
                <input class="form-control datetimepicker-input" data-target="#datetimepicker1" name="dateReparation"
                       type="text"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"
                     id="dateReparation" name="dateReparation">
                    <div class="input-group-text"><em class="fa fa-calendar"></em></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="discount">Discount( % )</label>
            <input id="discount" min="0.00" name="discount" placeholder="Enter Discount" required="required" step="1"
                   type="number"
                   value="0.00"/>
            <div th:errors="*{discount}" th:if="${#fields.hasErrors('discount')}">Discount Error</div>
        </div>


        <div class="form-group">
            <label for="comments">Comments:</label>
            <input class="form-control" id="comments" name="comments" placeholder="Enter Comments"
                   type="text"/>
            <div th:errors="*{comments}" th:if="${#fields.hasErrors('comments')}">Comments Error</div>
        </div>

        <input required="required" th:field="*{vat}" type="hidden"/>
        <input required="required" th:field="*{status}" type="hidden"/>
        <input required="required" th:field="*{clientId}" type="hidden"/>


        <div class="form-group" id="tasks">
            <label>Tasks:</label>
            <span id="myTasks"></span> <br><br>
        </div>
        <div class="form-group">
            <label>Pieces:</label>
            <span id="myPieces"></span>
        </div>


        <button class="btn btn-primary" type="submit">Submit</button>

    </form>


    <script th:inline="javascript">
        function getPieces() {


            /*<![CDATA[*/

            let pieces = /*[[${pieceList}]]*/ null;

            /*]]>*/
            return pieces;
        }</script>

    <script th:inline="javascript">
        function getTasks() {


            /*<![CDATA[*/

            let tasks = /*[[${taskList}]]*/ null;

            /*]]>*/
            return tasks;
        }
    </script>


    <script>
        let i = 0; /* Set Global Variable i */
        function increment() {
            i += 1; /* Function for automatic increment of field's "Name" attribute. */
        }

        /*
        ---------------------------------------------

        Function to Remove Form Elements Dynamically
        ---------------------------------------------

        */
        function removeElement(parentDiv, childDiv) {
            if (childDiv == parentDiv) {
                alert("The parent div cannot be removed.");
            } else if (document.getElementById(childDiv)) {
                let child = document.getElementById(childDiv);
                let parent = document.getElementById(parentDiv);
                parent.removeChild(child);
            } else {
                alert("Child div has already been removed or does not exist.");
                return false;
            }
        }


        /*
        ----------------------------------------------------------------------------

        Functions that will be called upon, when user click on the Piece text field.

        ----------------------------------------------------------------------------
        */
        function pieceFunction() {
            let pieces = getPieces();


            let r = document.createElement('div');
            let y = document.createElement("SELECT");
            r.className += "form-group";
            y.className += "form-control";
            r.setAttribute("id", "pieceList");


            for (k = 0; k < pieces.length; k++) {
                let z = document.createElement("option");
                z.setAttribute("value", pieces[k].id);
                let t = document.createTextNode(pieces[k].name);
                z.appendChild(t);
                y.appendChild(z);
            }


            let g = document.createElement("button");
            g.innerHTML = "X";
            increment();
            y.setAttribute("id", "pieceList");
            y.setAttribute("name", "pieces.list[" + i + "]");
            r.appendChild(y);
            g.setAttribute("onclick", "removeElement('myPieces','id_" + i + "')");
            r.appendChild(g);
            r.setAttribute("id", "id_" + i);
            document.getElementById("myPieces").appendChild(r);
        }

        /*
                Functions that will be called upon, when user click on the Piece text field.

                ----------------------------------------------------------------------------
                */
        function taskFunction() {
            let tasks = getTasks();
            let r = document.createElement('div');
            let y = document.createElement("SELECT");
            r.className += "form-group";
            y.className += "form-control";
            r.setAttribute("id", "taskList");


            for (k = 0; k < tasks.length; k++) {
                let z = document.createElement("option");
                z.setAttribute("value", tasks[k].id);
                let t = document.createTextNode(tasks[k].name);
                z.appendChild(t);
                y.appendChild(z);
            }


            let g = document.createElement("button");
            g.innerHTML = "X";
            increment();
            y.setAttribute("id", "taskList");
            y.setAttribute("name", "tasks.list[" + i + "]");
            r.appendChild(y);
            g.setAttribute("onclick", "removeElement('myTasks','id_" + i + "')");
            r.appendChild(g);
            r.setAttribute("id", "id_" + i);
            document.getElementById("myTasks").appendChild(r);
        }


        /*
        -----------------------------------------------------------------------------

        Functions that will be called upon, when user click on the Reset Button.

        ------------------------------------------------------------------------------
        *//*
        function resetElements() {
            document.getElementById('myForm').innerHTML = '';
        }*/


        //var today = new Date();
        $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY hh:mm',
            autoClose: true,
            todayBtn: true,
            defaultDate: moment(),
            minuteStep: 10


        });
    </script>

</div>
</body>
</html>




