<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Bill form</h2>

    <form action="#" method="post" th:action="@{'/bills/update/' + ${bill.id}}" th:object="${billForm}">
        <table>
            <tr>
                <td>Id:</td>
                <td th:text="${bill.id}">Login</td>
            </tr>
            <tr>
                <td>Select Car:</td>
                <td>
                    <select name="carRegistration" id="carRegistration">
                        <option th:each="car : ${cars}"
                                th:utext="${car.registration}"
                                th:value="${car.registration}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Select Client:</td>
                <td>
                    <select name="clientId" id="clientId">
                        <option th:each="client : ${clients}"
                                th:utext="${client.firstName}"
                                th:value="${client.id}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Select Employee:</td>
                <td>
                    <select name="employeeLogin" id="employeeLogin">
                        <option th:each="employee : ${employees}"
                                th:utext="${employee.firstName}"
                                th:value="${employee.login}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date: (yyyy/MM/dd HH:mm)</td>
                <td>
                    <input id="datepicker" th:field="*{dateReparation}" width="312"/>
                    <!-- <input type="text" id="dateReparation" name="dateReparation" th:value="*{dateReparation}" />-->

                </td>
            </tr>
            <tr>
                <td>Discount:</td>
                <td><input min="0.00" required="required" step=".1" th:field="*{discount}" type="number" value="0.00"/>
                </td>
                <td th:errors="*{discount}" th:if="${#fields.hasErrors('discount')}">Discount Error</td>
            </tr>
            <tr>
                <td>Vat:</td>
                <td><input th:field="*{vat}" th:text="${billForm.vat}" type="hidden"/>
                </td>
            </tr>
            <tr>
                <td><input th:field="*{status}" type="hidden"/></td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td><textarea  th:field="*{Comments}" type="text"/></td>
                <td th:errors="*{Comments}" th:if="${#fields.hasErrors('Comments')}">Comments
                    Error
                </td>
            </tr>
            <tr>
                <table>
                    <tr>
                        <th>Tasks</th>
                    </tr>

                    <tr th:each="task, stat : ${taskList}">
                        <td>
                            <select th:name="|tasks.list[${stat.index}]|" th:value="${task}">
                                <option value="">new Task</option>
                                <option th:each="task : ${taskList}"
                                        th:utext="${task.getName()}"
                                        th:value="${task.getId()}"/>
                            </select>
                        </td>
                    </tr>
                </table>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

