<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http:/www.w3.org/1999/xhtml">
<div th:replace="fragments/header :: head1"></div>
<body onload="startTime()">
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:replace="fragments/menu :: menu"></div>

    <td th:if="${error != null}">
    <td th:text="${error}"></td>
    </td>

    <h2>Bills in Progress</h2>


    <a th:href="@{'/operations'}">
        <button class="btn btn-info" type="button">New</button>
    </a>


    <div th:fragment="bill_table" xmlns:th="http:/www.w3.org/1999/xhtml">
        <div th:if="${not #lists.isEmpty(billsInProgress)}">


            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="Id">Id</th>
                    <th th:text="Client">Client</th>
                    <th th:text="Registration">Registration</th>
                    <th th:text="Status">Status</th>
                    <th th:text="DateReparation">DateReparation</th>
                    <th th:text="Tasks">Tasks</th>
                    <th th:text="Pieces">Pieces</th>
                    <th th:text="Total">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="data-link" th:each="bill : ${billsInProgress}"
                    th:onclick="'javascript:rowClicked(\'' +@{'/bills/' + ${bill.id}}+ '\');'">
                    <td th:text="${bill.id}">id</td>
                    <td><span th:text="${bill.client.firstName+' '+bill.client.lastName+' '+bill.client.phoneNumber}">phoneNumber</span>
                    </td>
                    <td th:text="${bill.car.registration}">registration</td>
                    <td th:text="${bill.status}">status</td>
                    <td th:text="${bill.dateReparation}">dateReparation</td>
                    <td th:text="${bill.tasks.size()}">tasks</td>
                    <td th:text="${bill.pieces.size()}">pieces</td>
                    <td th:text="${bill.total}">total</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>




