<div th:fragment="form" xmlns:th="http:/www.w3.org/1999/xhtml">


    <h2>Bill form</h2>

    <form action="#" method="post" th:action="@{'/bills/update/' + ${bill.id}}" th:object="${billForm}">

        <div class="form-group">
            <label for="id">Id:</label>
            <input class="form-control" id="id" name="id" readonly required="required"
                   th:value="${bill.id}"
                   type="text"/>
            <div th:errors="*{id}" th:if="${#fields.hasErrors('id')}">Id Error</div>
        </div>
        <div class="form-group">
            <label for="carRegistration">Registration:</label>
            <select id="carRegistration" name="carRegistration">
                <option th:each="car : ${cars}"
                        th:utext="${car.registration}"
                        th:value="${car.registration}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="clientId">Client:</label>
            <select id="clientId" name="clientId">
                <option th:each="client : ${clients}"
                        th:utext="${client.firstName}"
                        th:value="${client.id}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="employeeLogin">Employee:</label>
            <select id="employeeLogin" name="employeeLogin">
                <option th:each="employee : ${employees}"
                        th:utext="${employee.firstName}"
                        th:value="${employee.login}"/>
            </select>
        </div>
        <div class="form-group">
            <div class="input-group date" data-target-input="nearest" id="datetimepicker1">
                <input class="form-control datetimepicker-input" data-target="#datetimepicker1" name="dateReparation"
                       th:value="${billForm.dateReparation}"
                       type="text"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"
                     id="dateReparation" name="dateReparation" th:value="${billForm.dateReparation}">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="discount">Discount:</label>
            <input class="form-control" id="discount" name="discount" placeholder="Enter Discount" required="required"
                   type="text"
                   value="0"/>
            <div th:errors="*{discount}" th:if="${#fields.hasErrors('discount')}">Discount Error</div>
        </div>
        <input required="required" th:field="*{status}" type="hidden"/>
        <div class="form-group">
            <label for="comments">Comments:</label>
            <input class="form-control" id="comments" name="comments" required="required"
                   th:value="${billForm.comments}"
                   type="text"/>
            <div th:errors="*{comments}" th:if="${#fields.hasErrors('comments')}">Comments Error</div>
        </div>
        <div class="form-group" th:each="task, stat : ${taskList}">
            <label for="taskList">Tasks:</label>
            <select class="form-control" id="taskList" th:name="|tasks.list[${stat.index}]|" th:value="${task}">
                <option value="">add Task</option>
                <option th:each="task : ${taskList}"
                        th:utext="${task.getName()}"
                        th:value="${task.getId()}"/>
            </select>
        </div>

        <div class="form-group" th:each="piece, stat : ${pieceList}">
            <label for="pieceList">Pieces:</label>
            <select class="form-control" id="pieceList" th:name="|pieces.list[${stat.index}]|" th:value="${piece}">
                <option value="">add Piece</option>
                <option th:each="piece : ${pieceList}"
                        th:utext="${piece.getName()}"
                        th:value="${piece.getId()}"/>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

