body {
    height: 100%;
    background-color: #f7cfc1;
}

.container {
    min-height: 100%;
    height: 100%;
    background-color: #e6e1e1;
}

.data-link {
    cursor: pointer;
}

.navbar {
    background-color: #f75757;
    height: 25%;
}

.menu a:any-link {
    color: black;
    text-decoration: none;

}

html {
    overflow-y: scroll;
    height: 100%;
}


.row {
    height: 30%;
}

h2, h4, h5 {
    text-align: center;
}

a {
    text-decoration: none;
}

table {
    table-layout: fixed;
}

tr, td {
    overflow: hidden;
    white-space: nowrap;
}

td:hover {
    overflow: visible;
    word-break: break-all;
    white-space: normal;
    height: auto;
}

.roundBorder {
    border-radius: 5px;
    border: 2px solid lightslategrey;
}

.passwordInfo {
    border-style: dotted;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.toolTip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: #a5c3ff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.toolTipText {
    list-style-type: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.toolTip:hover .toolTipText {
    visibility: visible;
}

.table-fixed tbody {
    height: 25%;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}

.table-fixed tbody td,
.table-fixed thead > tr > th {
    float: left;
}


/*SWITCH*/


label[id*="switch"] {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

label[id*="switch"] input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

